* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-theme: hsl(0, 0%, 15%);
  --light-theme: hsl(240, 100%, 99%);
  --text-font: 'Poppins', sans-serif;
  --general-font: system-ui, 'Segoe-UI', sans-serif;
  --heading-font: 'Montserrat', sans-serif;
  --style-font: 'Amita', cursive;
  --sec-font: 'Arima', cursive;
}
body {
  height: 100vh;
  background: var(--light-theme);
  background: var(--dark-theme);
  padding: 0.8rem 1.4rem;
}
